 <script type="text/template" id="tpl_stage_books">
    <div class="row-fluid">
      <div class="span12">
        <!-- BEGIN PAGE TITLE & BREADCRUMB-->
        <h3 class="page-title">
          图书
          <small>statistics and more</small>
        </h3>
        <ul class="breadcrumb">
          <li>
            <i class="icon-home"></i>
            <a href="/">主页</a>
            <span class="icon-angle-right"></span>
          </li>
          <li>
            <a href="#index">控制台</a>
            <span class="icon-angle-right"></span>
          </li>
          <li><a href="#">图书</a></li>
        </ul>
      </div>
    </div>
   <div id="page-container"></div>
</script>

<script type="text/template" id="tpl_book_item">
    <div class="main">
        <a href="/book/<%=bid%>"><img src="<%=image%>"/></a>
        <div class="contextMenu">
            <i class="icon-chevron-right menu"></i>
        </div>
    </div>
    <div class="mianMenu">

    </div>
</script>