<!-- BEGIN SIDEBAR -->
<div class="page-sidebar nav-collapse collapse">
  <!-- MAIN MENU GOES HERE.-->
  <!-- BEGIN SIDEBAR MENU -->
  <ul>
    <li>
        <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
        <div class="sidebar-toggler hidden-phone"></div>
        <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
    </li>
    <li>
        <!-- BEGIN RESPONSIVE QUICK SEARCH FORM -->
        <form class="sidebar-search">
          <div class="input-box">
            <a href="javascript:;" class="remove"></a>
            <input type="text" placeholder="搜索..." />
            <input type="button" class="submit" value=" " />
          </div>
        </form>
        <!-- END RESPONSIVE QUICK SEARCH FORM -->
    </li>
     <li class="start active ">
        <a href="#index">
        <i class="icon-home"></i>
        <span class="title">控制台</span>
        <span class="selected"></span>
        </a>
     </li>
     <li class="">
        <a href="javascript:;">
        <i class="icon-cogs"></i>
        <span class="title">图书</span>
        <span class="arrow "></span>
        </a>
        <ul class="sub-menu">
          <li >
            <a href="#books">
                <i class="icon-sitemap"></i>
                图书
            </a>
          </li>
          <li >
            <a href="#books/category">
                <i class="icon-envelope"></i>
                书架
            </a>
          </li>

        </ul>
      </li>
      <li class="">
        <a href="javascript:;">
        <i class="icon-th-list"></i>
        <span class="title">小组</span>
        <span class="arrow "></span>
        </a>
        <ul class="sub-menu">
          <li >
            <a href="#groups">
                <i class="icon-envelope"></i>
                小组
            </a>
          </li>
          <li >
            <a href="#groups/post">
                <i class="icon-sitemap"></i>
                文章
            </a>
          </li>

        </ul>
      </li>
      <li class="">
        <a href="javascript:;">
        <i class="icon-map-marker"></i>
        <span class="title">用户</span>
        <span class="arrow "></span>
        </a>
        <ul class="sub-menu">
          <li >
            <a href="#users">
            用户</a>
          </li>

        </ul>
      </li>
      <li class="">
        <a href="#settings">
        <i class="icon-cogs"></i>
        <span class="title">设置</span>
        </a>
      </li>
  </ul>
</div>
<!-- END SIDEBAR -->