@import "variables.less";

#bookcase_category_list{
  .bookcase_category{
    background-color: #fff;
    margin: 20px 0 20px 0;
    padding: 15px 5px 15px 5px;
    vertical-align: middle;
    overflow: hidden;
    .border-radius(5px, 5px, 5px, 5px);
    .box-shadow(1px,2px,2px,@color: #ddd);
    .title{
      float: left;
      width: 120px;
      border-right: 1px dashed #ddd;
      text-align: center;
      padding: 5px;
      padding-top: 40px;
      height: 75px;
      h6{
        font-family: "微软雅黑";
      }
    }
    .list{
      margin-left: 100px;
      .bookcase_item{
        display: inline-block;
        img{
          height: 120px;
          width: 100px;
          background-color: #DDDDDD;
          margin-left: 35px;
          .box-shadow(1px,2px,2px,@color: rgba(0,0,0,0.6));

        }
      }
    }
  }
}