body {
  overflow-x: hidden;
}
h5 {
  font-size: 24px;
  font-weight: 100;
  font-family: "微软雅黑", "Arial";
}
hr {
  margin: 10px 0px 15px 0px;
}
p {
  text-indent: 2em;
}
#go_top {
  display: none;
  position: fixed;
  bottom: 5%;
  right: 5%;
  cursor: pointer;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}
#main_nav {
  margin-top: 5px;
}
#page {
  -webkit-transition: background 0.7s;
  -moz-transition: background 0.7s;
  -o-transition: background 0.7s;
  background: url("/static/images/background_2.png");
}
#footer {
  -webkit-transition: display 0.5s;
  -moz-transition: display 0.5s;
  -o-transition: display 0.5s;
  background-color: #292929;
  height: 150px;
  z-index: -9999;
  position: fixed;
  display: none;
}
#navbar-top {
  -webkit-transition: display 0.5s;
  -moz-transition: display 0.5s;
  -o-transition: display 0.5s;
}
.footer {
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 50px 0 0 0;
  color: #FFF;
  font-weight: bold;
}
.footer a {
  color: #08ADFF;
}
.footer .other {
  float: right;
  font-weight: normal;
}
.footer .other .icon-weibo {
  background-image: url("/static/img/icon_weibo_558.png");
  background-repeat: no-repeat;
  background-size: 60px 25px;
  width: 100px;
  height: 25px;
  background-position: 20px -3px;
  -webkit-transition: background-image 0.7s;
  -moz-transition: background-image 0.7s;
  -o-transition: background-image 0.7s;
  margin-top: -5px;
}
.footer .other .icon-weibo:hover {
  background-image: url("/static/img/icon_weibo_558_hover.png");
}
.footer .navs {
  float: left;
}
.footer .navs a {
  border-right: 1px solid #666;
  color: #ccc;
  padding-right: 10px;
  margin-right: 10px;
}
.footer .navs a:hover {
  color: #38a1b6;
}
#wrapper {
  background: url("/static/img/raster.png");
  opacity: 0.3;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}
#main-conatiner {
  padding-top: 60px;
}
/* Custom container */
.container {
  margin: 0 auto;
  max-width: 1000px;
}
/* Main marketing message and sign up button */
.jumbotron {
  margin: 80px 0;
  text-align: center;
}
.jumbotron h1 {
  font-size: 100px;
  line-height: 1;
}
.jumbotron .lead {
  font-size: 24px;
  line-height: 1.25;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}
/* Supporting marketing content */
.marketing {
  margin: 60px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}
.account-info {
  float: right;
  margin-top: 18px;
  width: 30px;
  height: 30px;
}
.account-info .avatar {
  height: 30px;
}
.account-info .btn-login {
  font-weight: bold;
  text-align: center;
  font-size: 14px;
}
.row-fluid .sidebar {
  background: #EAEAEA;
  background: -webkit-linear-gradient(rgba(234, 238, 243, 0.2), #EAEAEA), -webkit-linear-gradient(left, #EAEAEA, #EAEAEA 97%, #DDDDDD);
}
.applications {
  list-style: none;
}
.applications .application {
  position: relative;
  display: block;
  padding: 18px 0 15px;
  border-bottom: 1px dotted #CCC;
  clear: both;
  min-height: 65px;
}
.applications .application .application_pic {
  position: relative;
  float: left;
  width: 75px;
}
.applications .application .application_pic .application_img {
  width: 75px;
  height: 75px;
  border-radius: 5px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
}
.applications .application .application_intro {
  margin-left: 100px;
  display: block;
}
.applications .application .application_intro .product_name {
  font-size: 14px;
}
.applications .application .application_intro .product_sort {
  margin-top: 5px;
  margin-bottom: 5px;
  color: #808080;
  word-wrap: break-word;
  line-height: 18px;
}
.applications .application .application_intro .product_data {
  margin: 0px;
}
.sidebar-nav {
  padding: 9px 0;
}
.form_table dl {
  display: block;
  clear: both;
}
.form_table dt {
  width: 140px;
  color: #666;
  text-align: right;
  padding-right: 15px;
  white-space: nowrap;
  color: #999;
  float: left;
  line-height: 25px;
}
.form_table dd {
  color: #333;
  word-break: break-all;
  word-wrap: break-word;
  float: left;
  line-height: 25px;
}
.custom-carousel .carousel-control {
  position: absolute;
  top: 60px;
  left: 0;
  width: 30px;
  height: none;
  margin-top: -20px;
  font-size: 60px;
  font-weight: 100;
  line-height: 150px;
  color: #000;
  text-align: center;
  background: none;
  border: none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 23px;
  border-radius: 0px;
  opacity: .5;
  filter: alpha(opacity=50);
  bottom: 0;
  vertical-align: middle;
}
.custom-carousel .carousel-control.right {
  left: auto;
  right: 0px;
}
.carousel-inner > .item {
  padding-left: 40px;
  padding-right: 40px;
}
#contribution-name-list a {
  font-weight: bold;
}
.avatar {
  padding: 5px;
  height: 25px;
  width: 25px;
  border-radius: 50%;
}
#ajax_message {
  background-color: #68AF02;
  width: 250px;
  margin: 0 auto;
  color: #FFF;
  padding: 5px 30px;
  border-top-left-radius: 0;
  -moz-border-radius-topleft: 0;
  -webkit-border-top-left-radius: 0;
  border-top-right-radius: 0;
  -moz-border-radius-topright: 0;
  -webkit-border-top-right-radius: 0;
  border-bottom-left-radius: 2px;
  -moz-border-radius-bottomleft: 2px;
  -webkit-border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  -moz-border-radius-bottomright: 2px;
  -webkit-border-bottom-right-radius: 2px;
  text-align: center;
  text-shadow: 0 -1px -1px #808080;
  border-top: none;
  display: none;
}
.err {
  background-color: #EAA000;
}
.map_canvas {
  border-radius: 5px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  height: 450px;
}
.span-border {
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.5);
  background: #fff;
}
.span-border:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
.span-border a {
  text-decoration: none;
}
.span-border .message {
  font-size: 12px;
  color: #ddd;
}
.row-margin {
  margin-top: 20px;
}
.color-border {
  content: "";
  height: 4px;
  position: absolute;
  right: 0;
  bottom: -3px;
}
#book_summary {
  color: #999;
  line-height: 26px;
  margin-bottom: 30px;
}
#documentViewer {
  height: 500px;
}
#book {
  margin-top: 60px;
  padding-left: 60px;
  padding-right: 60px;
  background: url('/static/images/bookcase_2.png') no-repeat -40px 210px;
  padding-bottom: 100px;
  vertical-align: bottom;
}
#book .span3 {
  text-align: right;
}
#book .span3 #book_img {
  height: 230px;
}
#book .span8 {
  text-align: left;
}
.group {
  background: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 1px 10px;
  margin-bottom: 40px;
}
.group h5 {
  display: inline-block;
  padding-right: 20px;
  margin: 0px;
  vertical-align: middle;
}
.group .subtitle {
  display: inline-block;
  margin-top: 10px;
  color: #8c8b8d;
}
.group .post-content {
  padding: 20px;
  font: 14px Helvetica, Arial, sans-serif;
}
.group .comments {
  padding-top: 10px;
}
.group .comments .comment {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
}
.group .comments .comment img {
  border-radius: 10px;
  display: inline-block;
}
.group .comments .comment p {
  text-indent: 0;
  font: 13px Helvetica, Arial, sans-serif;
}
.group .comments .comment .comment-info {
  color: #969899;
}
.group .comments .comment .content {
  display: inline-block;
}
.group .comments .comment .span11 {
  text-align: left;
}
.group .comment-publish {
  padding: 28px;
}
.group .comment-publish .comment-content {
  width: 100%;
  height: 100px;
}
.group .post-list .post-item {
  border-bottom: 1px dashed #cccccc;
  padding: 1em 0;
}
.group .post-list .post-item .post-image {
  float: left;
  margin-right: 10px;
}
.group .post-list .post-item .post-image img {
  border-radius: 10px;
  height: 70px;
  width: 70px;
}
.group .post-list .post-item .post {
  float: left;
}
.group .post-list .post-item .post .post-title {
  width: 500px;
}
.group .post-list .post-item .post .post-title a {
  color: #005580;
  font-size: 20px;
  line-height: 33px;
  overflow: hidden;
}
.group .post-list .post-item .post .post-info {
  width: 500px;
  line-height: 50px;
  color: #999999;
  margin-left: 10px;
}
.group .post-list .post-item .post .post-info .post-author {
  display: inline-block;
  padding-right: 20px;
}
.group .post-list .post-item .post .post-info .post-last-comment {
  display: inline-block;
}
.group .post-list .post-item .post .post-info .post-last-comment .comment-author {
  margin-left: 2px;
  margin-right: 2px;
}
.group .post-list .post-item .post-comments-count {
  float: left;
  font-size: 18px;
  color: #98989b;
  font-weight: bold;
  line-height: 30px;
}
.group .post-list .post-item .post-judge {
  float: left;
}
.group .post-list .post-item .post-date {
  float: left;
  line-height: 30px;
}
#user_home {
  margin-bottom: 30px;
}
#user_home .span8,
#user_home .span4 {
  background-color: #fff;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 1px 1px 10px;
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 1px 1px 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 1px 10px;
  padding: 10px;
}
#user_home .div-like-row {
  padding: 0 30px;
  text-align: center;
}
#user_home .div-like-row .book {
  margin-bottom: 20px;
}
#user_home .div-like-row .book img {
  height: 248px;
  width: 180px;
  -webkit-transition: box-shadow 0.5s;
  -moz-transition: box-shadow 0.5s;
  -o-transition: box-shadow 0.5s;
  box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
  background-color: #dddddd;
}
#user_home .div-like-row .book img:hover {
  border-color: #0088cc;
  -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
  opacity: .8;
}
#user_home .div-like-row .book .name {
  margin-top: 10px;
}
.model-large {
  left: 33%;
  width: 75%;
}
.model-large .control-label {
  width: 100px;
}
.model-large .controls {
  margin-left: 120px;
}
.model-large .controls .input-large {
  width: 80%;
}
#editor {
  width: 80%;
  max-height: 250px;
  height: 250px;
  background-color: #ffffff;
  border-collapse: separate;
  border: 1px solid #cccccc;
  padding: 4px;
  box-sizing: content-box;
  -webkit-box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset;
  box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  overflow: scroll;
  outline: none;
}
.navbar .rbrand {
  float: right;
  display: block;
  padding: 5px 20px 1px;
  margin-left: -20px;
  font-size: 14px;
  font-weight: 200;
  text-shadow: 0 1px 0 #FFF;
  line-height: 33px;
}
.navbar .rbrand img {
  border-radius: 50%;
  height: 28px;
  width: 28px;
  border: 2px #FFF solid;
}
.navbar .rbrand .caret {
  margin-top: 15px;
}
.navbar-fixed-top {
  opacity: 0.9;
}
.navbar-inner {
  background-image: none;
  max-height: 40px;
  background-color: #fafafa;
}
.navbar .brand {
  display: block;
  float: left;
  padding: 2px 20px 10px;
  margin-left: -20px;
  font-size: 20px;
  font-weight: 200;
  color: #777;
  text-shadow: 0 1px 0 #FFF;
  margin-top: 2px;
}
.navbar .brand .logo {
  height: 40px;
  width: 40px;
}
.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
  color: #fff;
  text-decoration: none;
  background-color: #109af6;
  -webkit-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
  -moz-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
  font-weight: bold;
  text-shadow: none;
}
.well {
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
  border: none;
}
@media (min-width: 1200px) {
  
}
@media (max-width: 767px) {
  body {
    padding-left: 0px;
    padding-right: 0px;
  }
  .navbar-fixed-top {
    margin-bottom: 0px;
  }
  .min-hidden {
    display: none;
  }
  .bookstore {
    background: none;
    padding-bottom: 40px;
  }
  .bookstore .pre_ribbon {
    position: absolute;
    top: 0;
    height: 100px;
    width: 100px;
    overflow: hidden;
    color: #ffffff;
    font-weight: bold;
    letter-spacing: .5em;
  }
  .bookstore .pre_ribbon span {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  .bookstore .span3 {
    text-align: center;
  }
  .bookstore .span3 .book_intro {
    text-align: center;
    width: 180px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 100;
    overflow: hidden;
  }
  .bookstore .span3 img {
    width: 312px;
    height: 428px;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  .navbar-fixed-top {
    margin-bottom: 0px;
  }
  .bookstore {
    background: url('/static/img/bookcase_max_767.jpg') no-repeat 0px 210px;
    padding-bottom: 40px;
  }
  .bookstore .span3 {
    /*text-align: center;*/
  
  }
}
#page_search input {
  float: right;
  margin-right: 70px;
}
.bookstore {
  background: url('/static/images/bookcase_2.png') no-repeat -40px 175px;
  padding-bottom: 20px;
  text-align: center;
}
.bookstore .book_thing {
  position: relative;
  margin: 0 auto;
  width: 130px;
  margin-top: 20px;
}
.bookstore .book_thing:hover img {
  -webkit-box-shadow: 0 -1px 20px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 -1px 20px rgba(0, 0, 0, 0.5);
  box-shadow: 0 -1px 20px rgba(0, 0, 0, 0.5);
  -webkit-transform: skewX(0deg) skewY(0deg);
  -moz-transform: skewX(0deg) skewY(0deg);
  -ms-transform: skewX(0deg) skewY(0deg);
  -o-transform: skewX(0deg) skewY(0deg);
  transform: skewX(0deg) skewY(0deg);
  margin-top: -10px;
  margin-bottom: 10px;
}
.bookstore .book_thing.focus img {
  -webkit-box-shadow: 0 -1px 20px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 -1px 20px rgba(0, 0, 0, 0.5);
  box-shadow: 0 -1px 20px rgba(0, 0, 0, 0.5);
  -webkit-transform: skewX(0deg) skewY(0deg);
  -moz-transform: skewX(0deg) skewY(0deg);
  -ms-transform: skewX(0deg) skewY(0deg);
  -o-transform: skewX(0deg) skewY(0deg);
  transform: skewX(0deg) skewY(0deg);
  margin-top: -10px;
  margin-bottom: 10px;
}
.bookstore .book_thing img {
  height: 170px;
  width: 130px;
  -webkit-box-shadow: 0 -1px 10px rgba(34, 25, 25, 0.4);
  -moz-box-shadow: 0 -1px 10px rgba(34, 25, 25, 0.4);
  box-shadow: 0 -1px 10px rgba(34, 25, 25, 0.4);
  background-color: #ddd;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.bookstore .book_thing .book_intro {
  text-align: center;
  margin-top: 14px;
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 100;
  overflow: hidden;
  height: 15px;
  width: 120px;
  line-height: 16px;
  border: 1px #797373 solid;
  padding: 2px;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  color: #FFF;
}
.bookstore .book_thing .book_intro a {
  color: #fff;
}
.bookstore .book_thing .pre_ribbon {
  position: absolute;
  top: 0;
  left: 0;
  height: 100px;
  width: 100px;
  overflow: hidden;
  color: #ffffff;
  font-weight: bold;
  letter-spacing: .5em;
}
.bookstore .book_thing .pre_ribbon .stack {
  background: #46a546;
}
.bookstore .book_thing .pre_ribbon .wait {
  background: #f89406;
}
.bookstore .book_thing .pre_ribbon span {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  display: block;
  width: 150px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 3px;
  position: relative;
  left: -40px;
  top: 75px;
  text-align: center;
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 1px 1px 10px;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 1px 1px 10px;
  box-shadow: rgba(0, 0, 0, 0.3) 1px 1px 10px;
}
.bookrow {
  padding-left: 40px;
  padding-right: 50px;
}
