#bookcase_category_list .bookcase_category {
  margin: 20px 0 20px 0;
  padding: 15px 5px 15px 5px;
  vertical-align: middle;
  overflow: hidden;
  background: url('/static/assets/images/bookcase_2.png') no-repeat -50px 145px;
  -webkit-border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  -webkit-box-shadow: 1px 2px 2px #dddddd;
  -moz-box-shadow: 1px 2px 2px #dddddd;
  box-shadow: 1px 2px 2px #dddddd;
}
#bookcase_category_list .bookcase_category .title {
  float: left;
  border-right: 1px dashed #ddd;
  text-align: center;
  padding: 5px;
  width: 150px;
  padding-top: 50px;
  padding-left: 50px;
}
#bookcase_category_list .bookcase_category .title .logo img {
  -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.8);
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.8);
  height: 100px;
  width: 100px;
}
#bookcase_category_list .bookcase_category .title h6 {
  font-family: "微软雅黑";
}
#bookcase_category_list .bookcase_category .move-to {
  float: right;
  width: 150px;
  font-size: 100px;
  padding-top: 70px;
  font-weight: 100;
}
#bookcase_category_list .bookcase_category .move-to a:hover {
  text-decoration: none;
}
#bookcase_category_list .bookcase_category .list {
  margin-left: 135px;
  margin-right: 200px;
  padding-left: 70px;
  overflow: hidden;
  vertical-align: bottom;
  text-align: left;
  padding-bottom: 20px;
}
#bookcase_category_list .bookcase_category .list .bookcase_item {
  display: inline-block;
  vertical-align: bottom;
}
#bookcase_category_list .bookcase_category .list .bookcase_item a:hover {
  text-decoration: none;
}
#bookcase_category_list .bookcase_category .list .bookcase_item .book_name {
  font-size: 12px;
  font-family: "微软雅黑";
}
#bookcase_category_list .bookcase_category .list .bookcase_item .book_case {
  overflow: hidden;
  cursor: pointer;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.8);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.8);
}
#bookcase_category_list .bookcase_category .list .bookcase_item .book_case:hover {
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.8);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.8);
}
#bookcase_category_list .bookcase_category .list .bookcase_item .bookcase_0 {
  background: url("/static/assets/img/labs/book_0.png") no-repeat;
  width: 29px;
  height: 130px;
}
#bookcase_category_list .bookcase_category .list .bookcase_item .bookcase_0 .book_name {
  word-wrap: break-word;
  text-align: center;
  padding: 8px;
  color: #fff;
}
#bookcase_category_list .bookcase_category .list .bookcase_item .bookcase_1 {
  background: url("/static/assets/img/labs/book_1.png") no-repeat;
  width: 32px;
  height: 148px;
}
#bookcase_category_list .bookcase_category .list .bookcase_item .bookcase_1 .book_name {
  word-wrap: break-word;
  text-align: center;
  padding: 8px;
  color: #fff;
}
#bookcase_category_list .bookcase_category .list .bookcase_item .bookcase_2 {
  background: url("/static/assets/img/labs/book_2.png") no-repeat;
  width: 30px;
  height: 145px;
}
#bookcase_category_list .bookcase_category .list .bookcase_item .bookcase_2 .book_name {
  word-wrap: break-word;
  text-align: center;
  padding: 8px;
  color: #fff;
}
#bookcase_category_list .bookcase_category .list .bookcase_item .bookcase_3 {
  background: url("/static/assets/img/labs/book_3.png") no-repeat;
  width: 32px;
  height: 155px;
}
#bookcase_category_list .bookcase_category .list .bookcase_item .bookcase_3 .book_name {
  word-wrap: break-word;
  text-align: center;
  padding: 8px;
  color: #fff;
}
#bookcase_category_list .bookcase_category .list .bookcase_item .bookcase_4 {
  background: url("/static/assets/img/labs/book_4.png") no-repeat;
  width: 30px;
  height: 142px;
}
#bookcase_category_list .bookcase_category .list .bookcase_item .bookcase_4 .book_name {
  word-wrap: break-word;
  text-align: center;
  padding: 8px;
  color: #fff;
}
#bookcase_category_list .bookcase_category .list .bookcase_item .bookcase_5 {
  background: url("/static/assets/img/labs/book_5.png") no-repeat;
  width: 38px;
  height: 149px;
}
#bookcase_category_list .bookcase_category .list .bookcase_item .bookcase_5 .book_name {
  word-wrap: break-word;
  text-align: center;
  padding: 8px;
  color: #fff;
}
#bookcase_category_list .bookcase_category .list .bookcase_item .bookcase_6 {
  background: url("/static/assets/img/labs/book_6.png") no-repeat;
  width: 32px;
  height: 135px;
}
#bookcase_category_list .bookcase_category .list .bookcase_item .bookcase_6 .book_name {
  word-wrap: break-word;
  text-align: center;
  padding: 8px;
  color: #fff;
}
#bookcase_category_list .bookcase_category .list .bookcase_item .bookcase_7 {
  background: url("/static/assets/img/labs/book_7.png") no-repeat;
  width: 28px;
  height: 145px;
}
#bookcase_category_list .bookcase_category .list .bookcase_item .bookcase_7 .book_name {
  word-wrap: break-word;
  text-align: center;
  padding: 8px;
  color: #fff;
}
#bookcase_category_list .bookcase_category .list .bookcase_item .bookcase_8 {
  background: url("/static/assets/img/labs/book_8.png") no-repeat;
  width: 28px;
  height: 135px;
}
#bookcase_category_list .bookcase_category .list .bookcase_item .bookcase_8 .book_name {
  word-wrap: break-word;
  text-align: center;
  padding: 8px;
  color: #fff;
}
#bookcase_category_list .bookcase_category .list .bookcase_item .bookcase_9 {
  background: url("/static/assets/img/labs/book_9.png") no-repeat;
  width: 26px;
  height: 124px;
}
#bookcase_category_list .bookcase_category .list .bookcase_item .bookcase_9 .book_name {
  word-wrap: break-word;
  text-align: center;
  padding: 8px;
  color: #fff;
}
#bookcase_category_list .bookcase_category .list .bookcase_item .bookcase_10 {
  background: url("/static/assets/img/labs/book_10.png") no-repeat;
  width: 32px;
  height: 150px;
}
#bookcase_category_list .bookcase_category .list .bookcase_item .bookcase_10 .book_name {
  word-wrap: break-word;
  text-align: center;
  padding: 8px;
  color: #fff;
}
#bookcase_category_list .bookcase_category .list .bookcase_item img {
  background-color: #DDDDDD;
  -webkit-box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.6);
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.6);
}
