<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
    <head>
    {% include "tpl/tpl_html_head.html"%}
    </head>
	<body class="fixed-top">
        {% include "tpl/tpl_page_header.html"%}
		<div class="page-container row-fluid ">
			{% include "tpl/tpl_page_sidebar.html"%}
			<!-- BEGIN PAGE -->
			<div class="page-content">
			  <!-- BEGIN PAGE CONTAINER-->
			  <div class="container-fluid">
			    <!-- CONTENT BODY GOES HERE >>>> -->
			    <div id="stage">

			   	</div>
			  </div>   
			  <!-- END PAGE CONTAINER-->
			</div>      
			<!-- END PAGE -->
		</div>
		<!-- BEGIN FOOTER -->
		<div class="footer">
		  2013 © Metronic by keenthemes.
		  <div class="span pull-right">
		    <span class="go-top"><i class="icon-angle-up"></i></span>
		  </div>
		</div>
		<!-- END FOOTER -->
        <!--Template begins-->
        {% include "tpl/tpl_category.html"%}
        {% include "tpl/tpl_index.html"%}
        {% include "tpl/tpl_books.html"%}
		<!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
       {% include "tpl/tpl_javascript_plugins.html"%}
       {% include "tpl/tpl_javascript_core.html"%}
	</body>
</html>