{% extends "base.html" %}
{% autoescape None %}
{% block group %}
<div class="row-fluid group">
  <h5>{{ _group.name }}</h5>
 {% if current_user %}
      <a class="btn" data-toggle='modal' href='#myModal'><b class="icon-edit"></b>发帖</a>
  {% else %}
      <a class="btn" disabled><b class="icon-edit"></b>发帖</a>
  {% end %}
  <br/>
  <span class="subtitle">{{ _group.description }}</span>
  <hr>
  <div class="post-list">
    {% for post in posts%}
    <div class="post-item">
      <div class="post-image">
          <img src="/static/images/avatar.jpg"/>
      </div>
      <div class="post">
        <div class="post-title">
          <a href="{{post.group.tag}}/{{ post.id }}">{{ post.title[:25] }}....</a>
        </div>
        <div class="post-info">
          <span class="post-author">{{ post.author.name }}</span>
          <div class="post-last-comment">
              最后由 <span class="comment-author">海洋封</span> 于22天前回复
          </div>
        </div>
      </div>
      <div class="post-comments-count">
        <span class="badge" title="有{{ len(post.comments) }}人围观">{{ len(post.comments) }}</span>
      </div>
      <div class='clearfix'></div>
    </div>
    <hr/>
    {% end %}
  </div>
</div>
  <div id="myModal" class="modal hide fade model-large " tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <form id="publish-post-form" class="form-horizontal" action="" method="post">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h4 >发表帖子</h4>
    </div>
    <div class="modal-body">
        <div class="control-group">
          <label class="control-label">标题</label>
          <div class="controls">
            <input type="text" name="title" class="input-large" laceholder="帖子的标题">
            <input id="post-mode" type="hidden" name="type" value="new">
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">内容</label>
          <div class="controls">
                <textarea id="editor_content" name="content" style="display:none"></textarea>
               {% module Editor() %}
          </div>
        </div>

    </div>
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">取消</button>
      <button type="submit" class="btn btn-primary">发表</button>
    </div>
    </form>
  </div>
<script data-main="{{ static_url("js/app/group.js") }}" src="{{ static_url("js/lib/require.js") }}"></script>
{% end %}
