{% extends "../main.html" %}
{% autoescape None %}
{% block body %}
<link href="http://netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css" rel="stylesheet">
<div class="row-fluid">
  <div class="span9">
    {% block group %}{% end %}
  </div>
  <div class="span3">
    <!--guang gao wei keyi ma?-->
  </div>
  <div id="myModal" class="modal hide fade model-large " tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <form id="publish-post-form" class="form-horizontal" action="" method="post">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h4 >发表帖子</h4>
    </div>
    <div class="modal-body">
        <div class="control-group">
          <label class="control-label">标题</label>
          <div class="controls">
            <input type="text" name="title" class="input-large" laceholder="帖子的标题">
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">内容</label>
          <div class="controls">
                <textarea id="editor_content" name="content" style="display:none"></textarea>
               {% module Editor() %}
          </div>
        </div>

    </div>
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">取消</button>
      <button type="submit" class="btn btn-primary">发表</button>
    </div>
    </form>
  </div>
</div>
{% end %}
