{% extends "main.html" %}
{% autoescape None %}
{% block body %}
<script type="text/javascript">
	var bookid = {{ book.get('id',None) }}
	
</script>
<div id="book" class="row-fluid bookstore">
	<div class="span3">
	     <img id="book_img" class="img" src=""/>
	</div>
	<div class="span8">
		<div class="span8">
		<h5>{{ book.get('title') }}</h5><h6 id="book_subtitle"></h6>
		<label id="book_authors"><b>作者:</b>
		</label>
		<label>
			<b>出版商:</b><span id="book_publisher"></span>	
		</label>
		<label>
			<b>出版日期:</b><span id="book_publisher"></span>
		</label>
		<label>
			<b>ISBN:</b><span id="book_isbn13"></span>
		</label>
		<label id="book_tags"><b>标签:</b>
		</label>
		</div>
		<!-- {% if current_user %} -->
		     <!-- <div class="span2">
		     	<a href="{{ book.get('resource_url') }}" target="_blank" class="btn btn-success">下载</a>
		     </div> -->
		<!-- {% else %}
		    <div> 
			<img id="qrcode" title="未登录用户，请扫描二维码，获取下载地址" src="/static/qrcode/{{ book.get('id','default') }}.png" style="width:100px;height:100px"/>
			<p style="font-size: 12px;color: #47A4CF;">扫描获取下载地址</p>
		    </div>
		{% end %} -->
	</div>
	
</div>
<br/>
<div class="row-fulid">
   <h5>共享的文件</h5>
   <hr>
   <ul>
   {% if book.get('files') %}
	{% for file in book.get('files') %}
          <li>由{{ file.get('account').get('name') }}提供   
          	<a href="/static/doc/{{ file.get('file') }}" target="_blank" class="btn btn-success">下载</a>&nbsp;
          	<a href="/preview/{{ book.get('id') }}" target="_blank" class="btn btn-success">预览</a></li>
   	{% end %}
	{% if book.get('network_disk') %}
		{% for url in book.get('network_disk') %}
		    {{ url }} 
		{% end %}
	{% end %}
   {% else %}
   	暂时未提供相关分享
   {% end %}
 </ul>
</div>
<br/>
<div class="row-fluid ">
	<h5>关于本书</h5>
	<hr>
	<p id="book_summary"></p>
</div>
<br/>
<div class="row-fluid">
	<h5>看过这本书的人都是这样说的</h5>
	<hr>
</div>


 <link type="text/css" rel="stylesheet" media="screen" href="{{ static_url("style/flexpaper.css") }}">
<script data-main="{{ static_url("js/app/book") }}" src="{{ static_url("js/lib/require.js") }}"></script>
{% end %}
