{% extends "main.html" %}
{% autoescape None %}
{% block body %}
<script type="text/javascript">
	var bookid = {{ book.bid }}
	
</script>
<div id="book" class="row-fluid bookstore">
	<div class="span3">
	     <img id="book_img" class="img" src=""/>
	</div>
	<div class="span8">
		<div class="span8">
		<h5>{{ book.title }}</h5><h6 id="book_subtitle"></h6>
		<label id="book_authors"><b>作者:</b>
		</label>
		<label>
			<b>出版商:</b><span id="book_publisher">{{ book.publisher }}</span>	
		</label>
		<label>
			<b>出版日期:</b><span id="book_publisher"></span>
		</label>
		<label>
			<b>ISBN:</b><span id="book_isbn13">{{ book.isbn13 }}</span>
		</label>
		<label id="book_tags"><b>标签:</b>
		</label>
		</div>
	</div>
	
</div>
<br/>
<div class="row-fulid">
   <h5>共享的文件</h5>
   <hr>
   <ul>
   {% if book.files %}
	{% for file in book.files %}
	    {% if file.file_type=='network_disk' %}
	    {% else %}
	    	 <li>由{{ file.author.name }}提供   
	          	<a href="/static/doc/{{ file.file_address }}" target="_blank" class="btn btn-success">下载</a>&nbsp;
	          	<a href="/preview/{{ book.bid }}" target="_blank" class="btn btn-success">预览</a></li>
	    {% end %}
	    
   	{% end %}
   {% else %}
   	暂时未提供相关分享
   {% end %}
 </ul>
</div>
<br/>
<div class="row-fluid ">
	<h5>关于本书</h5>
	<hr>
	<p id="book_summary"></p>
</div>
<br/>
<div class="row-fluid">
	<h5>看过这本书的人都是这样说的</h5>
	<hr>
</div>


 <link type="text/css" rel="stylesheet" media="screen" href="{{ static_url("style/flexpaper.css") }}">
<script data-main="{{ static_url("js/app/book") }}" src="{{ static_url("js/lib/require.js") }}"></script>
{% end %}
