{% extends "main.html" %}
{% autoescape None %}
{% block body %}
<h5>贡献榜单</h5>
<hr/>
<div class="row-fluid row-margin">
   <div class="span2 span-border">
	<a href="#">
	    <img  class="avatar" src="/static/images/avatar.jpg"/>One
	    &nbsp;<span class="badge" title="贡献9本图书资源">9</span>
	</a>
	<br/>
	<span class="message">来自:Google</span>
   </div>
   <div class="span2 span-border">
	<a href="#">
	    <img  class="avatar" src="/static/images/avatar.jpg"/>One
	    &nbsp;<span class="badge" title="贡献9本图书资源">9</span>
	</a>
	<br/>
	<span class="message">来自:Google</span>
   </div>
   <div class="span2 span-border">
	<a href="#">
	    <img  class="avatar" src="/static/images/avatar.jpg"/>One
	    &nbsp;<span class="badge" title="贡献9本图书资源">9</span>
	</a>
	<br/>
	<span class="message">来自:Google</span>
   </div>
   <div class="span2 span-border">
	<a href="#">
	    <img  class="avatar" src="/static/images/avatar.jpg"/>One
	    &nbsp;<span class="badge" title="贡献9本图书资源">9</span>
	</a>
	<br/>
	<span class="message">来自:Google</span>
   </div>
   <div class="span2 span-border">
	<a href="#">
	    <img  class="avatar" src="/static/images/avatar.jpg"/>One
	    &nbsp;<span class="badge" title="贡献9本图书资源">9</span>
	</a>
	<br/>
	<span class="message">来自:Google</span>
   </div>
   <div class="span2 span-border">
	<a href="#">
	    <img  class="avatar" src="/static/images/avatar.jpg"/>One
	    &nbsp;<span class="badge" title="贡献9本图书资源">9</span>
	</a>
	<br/>
	<span class="message">来自:Google</span>
   </div>

</div>

<div class="row-fluid row-margin">
   <div class="span2 span-border">
	<a href="#">
	    <img  class="avatar" src="/static/images/avatar.jpg"/>One
	    &nbsp;<span class="badge" title="贡献9本图书资源">9</span>
	</a>
	<br/>
	<span class="message">来自:Google</span>
   </div>
   <div class="span2 span-border">
	<a href="#">
	    <img  class="avatar" src="/static/images/avatar.jpg"/>One
	    &nbsp;<span class="badge" title="贡献9本图书资源">9</span>
	</a>
	<br/>
	<span class="message">来自:Google</span>
   </div>
   <div class="span2 span-border">
	<a href="#">
	    <img  class="avatar" src="/static/images/avatar.jpg"/>One
	    &nbsp;<span class="badge" title="贡献9本图书资源">9</span>
	</a>
	<br/>
	<span class="message">来自:Google</span>
   </div>
   <div class="span2 span-border">
	<a href="#">
	    <img  class="avatar" src="/static/images/avatar.jpg"/>One
	    &nbsp;<span class="badge" title="贡献9本图书资源">9</span>
	</a>
	<br/>
	<span class="message">来自:Google</span>
   </div>
   <div class="span2 span-border">
	<a href="#">
	    <img  class="avatar" src="/static/images/avatar.jpg"/>One
	    &nbsp;<span class="badge" title="贡献9本图书资源">9</span>
	</a>
	<br/>
	<span class="message">来自:Google</span>
   </div>

</div>


<script data-main="{{ static_url("js/app/dev") }}" src="{{ static_url("js/lib/require.js") }}"></script>
<!--
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBiu5WCpU9fwzo2qrDWHxpnZTYsfO775C4&sensor=false">
 </script>-->
{% end %}
