{% extends "main.html" %}
{% autoescape None %}
{% block body %}
<div class="row-fluid" id="app_home">
    <div id="page_search">
        <input id="input_search" type="text" placeholder="检索"/>
        <div class="clearfix"></div>
    </div>
    <div id="divHomeCarousel" class="carousel slide custom-carousel ">
        <div id="hot-container">
              <h5 class="min-hidden">最热门</h5>
              <hr class="min-hidden">
                <div class="carousel-inner bookstore min-hidden" >
                      <div class="item active">
                        <div class="row-fluid ">
                        {% for book in hot_books[0:4] %}
                        <div class="span3">
                            <div class="book_thing">
                                <div class="pre_ribbon">
                                  {% if book.files %}
                                    <span class='stack'>现货</span>
                                 {% else %}
                                    <span class='wait'>期待中</span>
                                 {% end %}
                                </div>
                                <a href="/book/{{ book.bid }}">
                                    <img alt="" src="{{ book.image }}">
                                    <div class="book_intro">{{ book.title }}</div>
                                </a>
                            </div>
                         </div>
                        {% end %}

                        </div>
                      </div>
                      <div class="item">
                        <div class="row-fluid">
                            {% for book in hot_books[4:8] %}
                                <div class="span3">
                                    <div class="book_thing">
                                        <div class="pre_ribbon">
                                              {% if book.files %}
                                                <span class='stack'>现货</span>
                                             {% else %}
                                                <span class='wait'>期待中</span>
                                             {% end %}
                                        </div>
                                       <a href="/book/{{ book.bid }}">
                                           <img  alt="" src="{{ book.image }}">
                                           <div class="book_intro">{{ book.title }}</div>
                                       </a>
                                    </div>
                                </div>
                            {% end %}
                        </div>
                      </div>
                </div>
                <a class="left carousel-control min-hidden" href="#divHomeCarousel" data-slide="prev">‹</a>
                <a class="right carousel-control min-hidden" href="#divHomeCarousel" data-slide="next">›</a>
        </div>
        <div id="all-container">
            <h5>最新共享</h5>
            <hr>
            	<div class="row-fluid">
                    <div class="bookstore bookrow">
                    {% for i in xrange(len(books)) %}

                            <div class="span3">
                                <div class="book_thing">
                                    <div class="pre_ribbon">
                                          {% if books[i].files %}
                                            <span class='stack'>现货</span>
                                         {% else %}
                                            <span class='wait'>期待中</span>
                                         {% end %}
                                    </div>
                                <a href="/book/{{ books[i].bid }}">
                                    <img class="img"  src="{{ books[i].image }}">
                                    <div class="book_intro">{{ books[i].title }}</div>
                                    </a>
                                </div>
                            </div>
                        {% if (i+1)%4==0 %}
                                 <div class="clearfix"></div>
                            </div>
                            </div>
                            <br/>
                            <div class="row-fluid">
                        <div class="bookstore bookrow">
                        {% end %}
                    {% end %}
                </div>
              </div>
        </div>




</div>
<script type="text/javascript" src="/static/js/backbone/home.js"></script>
{% end %}