{% extends "main.html" %}
{% autoescape None %}
{% block body %}
<div class="row-fluid">
  <h5>更新日志</h5>
  <hr>
  <div class="container">
  	<h4>2013-8-5 更新</h4>
  	<ul>
  		<li>添加豆瓣oauth2登录支持</li>
		<li>添加Google OpenID登录支持</li>
  	</ul>
  </div>
  <div class="container">
  	<h4>2013-8-10 更新</h4>
  	<ul>
  		<li>添加微信公共帐号，并提供天气查询功能，后期将提供图书查询功能</li>
  	</ul>
  </div>
  <div class="container">
  	<h4>2013-8-12 更新</h4>
  	<ul>
  		<li>增加二维码功能，未登录用户需要扫描二维码获取资源下载地址</li>
		<li>增加日志更新页面，用于记录该站点发生的事情</li>
		<li>重新添加图书数据</li>
  	</ul>
  </div>
  <div class="container">
    <h4>2013-8-14 更新</h4>
    <ul>
      <li>修改排行榜静态页面样式</li>
      <li>修饰了部分页面，同时未免意外还是添加了免责声明</li>
    </ul>
  </div>
  <div class="container">
    <h4>2013-8-15 更新</h4>
    <ul>
      <li>修改页面整体风格，细化系统首页部分交互</li>
    </ul>
  </div>
  <div class="container">
    <h4>2013-8-17 更新</h4>
    <ul>
      <li>增加文件在线预览功能</li>
    </ul>
  </div>
  <div class="container">
    <h4>2013-8-18 更新</h4>
    <ul>
      <li>修改了一下新的UI设计，主要参考火花网<a href="http://www.hoohua.com/">http://www.hoohua.com/</a>一个很不错的网站</li>
    </ul>
  </div>
</div>
<script data-main="{{ static_url("js/app/logs") }}" src="{{ static_url("js/lib/require.js") }}"></script>

{% end %}
