<!DOCTYPE html>
<html>
  <head>
    <title>{{ page_heading }} 分享你的互联网</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="wb:webmaster" content="d33383db780dd4ae" />
    <meta property="qc:admins" content="1414761143412360527351006375" />
    <!-- Bootstrap -->
    <link href="http://netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css" rel="stylesheet">
    <link type="text/css" rel="stylesheet" media="screen" href="/static/style/bootstrap.css">
    <link type="text/css" rel="stylesheet" media="screen" href="/static/style/bootstrap-responsive.min.css">
    <link type="text/css" rel="stylesheet" media="screen" href="/static/less/pdflabs.css">

     <script type="text/javascript" src="/static/js/lib/jquery-1.10.2.js"></script>
     <script type="text/javascript" src="/static/js/bootstrap/bootstrap.js"></script>
     <script type="text/javascript" src="/static/js/lib/underscore.js"></script>
     <script type="text/javascript" src="/static/js/lib/backbone.js"></script>
     <script type="text/javascript" src="/static/js/lib/backbone.localStorage.js"></script>
     <script type="text/javascript" src="/static/js/lib/jquery.foggy.js"></script>
     <script type="text/javascript">
        USER_ID = '{{ current_user }}'
     </script>
  </head>
  <body>
        <div id="navbar-top" class="navbar navbar-fixed-top">
          <div class="navbar-inner">
            <div class="container">
              <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="brand" href="/">
                  <img class="logo" src="/static/images/logo.png" title=" PDFLabs"/>
              </a>
              {% if current_user %}
                    <li class="dropdown rbrand">
                      <a class="dropdown-toggle"
                         data-toggle="dropdown"
                         href="#">
                          <img id="account_info" title="{{ current_user }}" src=""/>
                          <b class="caret"></b>
                        </a>
                      <ul class="dropdown-menu">
			     <li><a href="/users/{{ current_user }}"><i class="icon-home"></i>我的主页</a></li>
                        <li><a href="#"><i class="icon-message">我的消息</i></a></li>
                        <li><a href="/book/find"><i class="icon-bookmark"></i>发现/共享</a></li>
                        <li class="divider"></li>
                        <li><a href="/sigout"><i class="icon-off"></i>退出</a></li>
                      </ul>
                    </li>
              {% else %}
                <a class="rbrand" href="/sigin">登录</a>
              {% end %}
              <div class="nav-collapse collapse">
                <ul id="main_nav" class="nav">
                   <li class="dropdown">
                      <a class="dropdown-toggle" data-toggle="dropdown" href="#"><b class='icon-book icon-large'></b>资源
                        <b class="caret"></b>
                      </a>
                      <ul class="dropdown-menu">
                        <li><a href="/book?tag=shared"><b class="icon-bell-alt"></b>已分享</a></li>
                        <li><a href="/book?tag=waiting"><b class="icon-stethoscope"></b>期待中</a></li>
                        <li><a href="/book?tag=hot"><b class="icon-fighter-jet"></b>最热门</a></li>
                      </ul>
                    </li>
                   <li class="dropdown">
                      <a class="dropdown-toggle" data-toggle="dropdown" href="#"><b class="icon-group icon-large"></b>小组
                        <b class="caret"></b>
                      </a>
                      <ul class="dropdown-menu">

                          {% for group in groups %}
                            <li><a href="/group/{{ group.tag }}">{{group.name}}</a></li>
                          {% end %}

                      </ul>
                   </li>
                   <li><a href="/book/find"><b class="icon-search icon-large "></b>发现</a></li>

		       <!-- <li><a href="#data">数据统计</a></li>
                   <li><a href="/logs">更新日志</a></li> -->
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div id="page">
        <div id="wrapper2">
       <div id="main-conatiner" class="container" style="min-height:700px">
          <div id="ajax_message" class="alert">数据加载中</div>
          <div class="container" >
              {% block body %}{% end %}
         </div>
         <aside id="go_top" style="display: none;">
             <i class="icon-circle-arrow-up icon-2x"></i>
         </aside>
          <div id="footer" class="footer">
            <div class="container" style="padding-top:25px;color:#777">
              <div class="navs">
                <a href="/">主页</a>
                <a href="/logs">更新日志</a>
                <a href="#">说明</a>
                <a href="#">关于</a>
                <br/><br/>
                © 墨鱼 2013
              </div>
              <div class="other">
		        <!--联系我-->
                <a href="http://weibo.com/503error" target="_blank">
                  <span class="icon icon-weibo"></span>
                </a>
              </div>
              <div class="clearfix"></div>
	      </p>
            </div>
          </div>
       </div>
     </div>
     </div>

       <script type="text/javascript">
        var sign = 0;
        window.onscroll = function(e){
          var t = document.documentElement.scrollTop || document.body.scrollTop;
          var navbar = document.getElementById("navbar-top");
          var footer = document.getElementById("footer");
          var scrtop =document.documentElement.scrollTop||document.body.scrollTop;
          var height = document.documentElement.clientHeight||document.body.clientHeight;

          if (t>100){
            $("#go_top").fadeIn(500);
          }else{
            $("#go_top").fadeOut(500);
          }
        }

        $(function(){

            //$('#page').foggy(false);

            $("#go_top").click(function(){

                $('body').animate({
                    scrollTop: 0
                },500);

            });
            if(USER_ID!='None'){
                $.ajax({
                    type:'get',
                    url:"/api/rest/users/"+USER_ID,
                    success:function(result,statusText,jqXHR){
                    $("#account_info")
                        .attr('title', result['name'])
                        .attr('src', result['avatar']);
                    },
                    error:function(error,jqXHR){
                        console.log(error);
                    }
                });
            }

        });

      </script>
      <script type="text/javascript">
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-37439567-2', 'pdflabs.herokuapp.com');
        ga('send', 'pageview');
      </script>
  </body>
</html>
