<!DOCTYPE html>
<!--
	
	将要进行的事
	1，电子书存储与预览
	2，二手图书交易

	点子：
	不能说的秘密！
-->
<html>
  <head>
    <title>{{ page_heading }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link type="text/css" rel="stylesheet" media="screen" href="{{ static_url("style/bootstrap.css") }}">
     <link type="text/css" rel="stylesheet" media="screen" href="{{ static_url("style/custom.css") }}">
     <script src="{{ static_url("js/lib/jquery-1.10.2.js") }}"></script>
    <script type="text/javascript">
        USER_ID = '{{ current_user }}'
    </script>
  </head>
  <body>
        <div id="navbar-top" class="navbar navbar-fixed-top">
          <div class="navbar-inner">
            <div class="container">
              <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="brand" href="/">PDFLabs</a>
             {% if current_user %}
                    <li class="dropdown rbrand">
                      <a class="dropdown-toggle"
                         data-toggle="dropdown"
                         href="#">
                          <img id="account_info" title="{{ current_user }}" src="{{ static_url('images/avatar.jpg') }}"/>
                          <b class="caret"></b>
                        </a>
                      <ul class="dropdown-menu">
			<li><a href="/home"><i class="icon-home"></i>个人主页</a></li>
                        <li><a href="/profile"><i class="icon-cog"></i>个人资料</a></li>
                        <li><a href="/contribute"><i class="icon-bookmark"></i>发现/共享</a></li>
                        <li class="divider"></li>
                        <li><a href="/sigout"><i class="icon-off"></i>退出</a></li>
                      </ul>
                    </li>
              {% else %}
                <a class="rbrand" href="/sigin">登录</a>
              {% end %}
              <div class="nav-collapse collapse">
                <ul id="main_nav" class="nav">
                   <li><a href="/want">求共享</a></li>
                   <li><a href="/dev">排行榜</a></li>
		       <li><a href="#data">数据统计</a></li>
                   <li><a href="/logs">更新日志</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div id="page">
        <div id="wrapper2">
       <div id="main-conatiner" class="container" style="min-height:700px">
          <div id="ajax_message" class="alert">数据加载中</div>
          <div class="container" >
              {% block body %}{% end %}
         </div>
          <div id="footer" class="footer">
            <div class="container" style="padding-top:25px;color:#777">
              <div class="navs">
                <a href="/">主页</a> 
                <a href="/logs">更新日志</a> 
                <a href="#">说明</a>
                <a href="#">关于</a>
                <br/><br/>
                © 墨鱼 2013 
              </div>
              <div class="other">
		     联系我
                <a href="http://weibo.com/503error" target="_blank">
                  <span class="icon icon-weibo"></span>
                </a>
              </div>
              <div class="clearfix"></div>
              <div>Tell ME What You Want</div>
              <div>I Give You What You Want</div>
	      </p>
            </div>
          </div>
       </div>
     </div>
     </div>
      
       <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-37439567-1']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

        var sign = 0;

        

        window.onscroll = function(e){ 
          var t = document.documentElement.scrollTop || document.body.scrollTop; 
          var navbar = document.getElementById("navbar-top");
          var footer = document.getElementById("footer");

          var scrtop =document.documentElement.scrollTop||document.body.scrollTop;
          var height = document.documentElement.clientHeight||document.body.clientHeight;

          if(scrtop>50){

               if (scrtop > sign) {
                  sign = scrtop;
                  //document.title="向下"+scrtop;        
                  navbar.setAttribute("style","display:none");
                }

                if (scrtop < sign) {
                        sign = scrtop;
                        navbar.setAttribute("style","display:block");
                        //document.title="向上"+scrtop;
                }

          }

          if(scrtop>50){
            //footer.setAttribute("style","display:none");
          }else{
            //footer.setAttribute("style","display:block");
          }

        }
      </script>
  </body>
</html>
