{% extends "main.html" %}
{% autoescape None %}
{% block body %}
<div class="row-fluid group">
  <h5><a href="../{{ post.group.tag }}">{{ post.group.name }}</a></h5>
  <button class="btn"><b class="icon-edit"></b>发帖</button>
  <br/>
  <span class="subtitle">{{ post.group.description }}</span>
  <hr>
  <div class="post-list">
    <div class="post-item">
      <div class="post-image">
          <img src="/static/images/avatar.jpg"/>
      </div>
      <div class="post">
        <div class="post-title">
          <a>{{ post.title }}</a>
        </div>
        <div class="post-info">
          <span class="post-author">huiyunlau</span>
          <div class="post-last-comment">
              22天前
          </div>
        </div>
      </div>
      <div class="post-comments-count">
        <span class="badge" title="有{{ len(post.comments) }}人围观">{{ len(post.comments) }}</span>
      </div>
      <div class='clearfix'></div>
    </div>
  </div>
  <div class="post-content">
      <hr/>
      <p class="">{{ post.content }}</p>
      <hr/>
      <br/>
  </div>
  <div class="comments">
    <h8><b class="icon-list-alt"></b>回复:</h8>
    {% for comment in post.comments %}
      <div class="comment">
        <h2>{{ comment }}</h2>
      </div>
    {% end %}
    {% if not post.comments %}
        <p>快来抢沙发了</p>
    {% end %}
  </div>
  <div class="comment-publish">
      <textarea class="comment-content"></textarea>
      <button class='btn btn-publish'>发布</button>
  </div>
</div>
<script data-main="{{ static_url("js/app/post") }}" src="{{ static_url("js/lib/require.js") }}"></script>
{% end %}
