{% extends "main.html" %}
{% autoescape None %}
{% block body %}
         <div class="alert alert-success">
         	<b>你好</b> 这个页面是用户监控平台的基本状态用的
         </div>
	<h6>这个表格是什么？</h6>
	<p>这些是VMS所依赖的OpenStack服务的状态，当这些服务出现异常时VMS接口可以无法正常使用</p>
	
	<table class="table table-bordered">
		<tbody>
			<tr><td>Nova API</td><td>normol</td></tr>
			<tr><td>Storage API</td><td>normol</td></tr>
			<tr><td>Network API</td><td>normol</td></tr>		
		</tbody>
	</table>
        <script data-main="{{ static_url("js/app/status") }}" src="{{ static_url("js/lib/require.js") }}"></script>
{% end %}
